App {
  height: 100vh;
}

main {
  position: relative;
  height: 90vh;
  overflow-y: auto;
}

main section {
  min-height: 100vh;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-bottom: 3px solid lightgray;
  padding-bottom: 50px;
}

main section .section-heading {
  text-align: center;
  font-size: 2rem;
}

main section .example {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 50vh;
  width: 50%;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

main section .example .example-heading {
  margin-bottom: 50px;
}
